[user]
	name = Rene Gebauer
	email = rene.gebauer@googlemail.com
[core]
	excludesfile = ~/.gitignore
	precomposeunicode = true
	editor = vi
	autocrlf = input
[color]
  	branch = auto
  	diff = auto
  	interactive = auto
  	status = auto
[init]
  	defaultBranch = master
[web]
  	browser = google-chrome
[credential]
  	helper = osxkeychain
[push]
  	default = simple
[merge]
  	tool = kdiff3
[difftool]
  	prompt = false
[alias]
	c = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	d = diff
	dc = diff --cached
	l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
[pull]
	rebase = true
[submodule]
	recurse = true
[filter "vault"]
  smudge = contrib/vault/smudge.sh
  clean  = contrib/vault/clean.sh
[diff "vault"]
  textconv = contrib/vault/diff.sh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
